{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  quil/quil {:mvn/version "4.3.1563"}
  clojure2d/clojure2d {:mvn/version "1.4.5"}
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"}}
 :paths ["src"]
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]}
